* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.viewport {
  width: 100vw;
  height: 100vh;
  /* Gradient: #f9f9f9 → #eaeaea */
  background: #f5f7fa;
}
#bookmark {
  text-decoration: none;
  font-size: 45px;
  color: rgba(13, 28, 4, 0.741);
}
.logoname {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-family: "Libertinus Keyboard", system-ui;
  font-weight: 400;
  font-style: italic;
  color: rgb(142, 34, 34);
  margin-top: 0px;
  margin-right: 60px;
  width: 100vw;
  text-shadow: 3px 4px 4px #2c3e50;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: aquamarine; */
  /* width: 18%; */
  border-radius: 30px;
}
table {
  border-collapse: collapse;
  width: 100%;
}
.header {
  display: flex;
  /* align-items: center;
        justify-content: center; */
  gap: 10px;
  padding: 10px;
  /* background-color:#D6A99D; */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
#branch {
  margin-left: 0px;
  list-style-type: none;
  padding: 0px;
  line-height: 2.5;
  margin-top: auto;
  align-items: center;
  margin-left: 5px;
  /* margin-right: px; */
}
th,
td {
  /* color: #ecf0f1; */
  border: 2px solid #34495e;
  padding: 10px;
  width: 50px;
  text-align: center;
}
img {
  border-radius: 80%;
  height: 105px;
  box-shadow: 3px 4px 12px rgba(18, 31, 26, 0.929),
    -3px 4px 12px rgba(18, 31, 26, 0.929);
}

table {
  background-color: #2c3e50;
  color: #ecf0f1;
}
a {
  text-decoration: none;
  font-size: 20px;
  color: #ecf0f1e2;
}
a:hover {
  color: #18bc9c;
  cursor: pointer;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
#login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  width: 40%;
  /* border: 9px solid rgba(0, 0, 0, 0.478); */

  /* box-shadow: 7px 7px 8px rgba(26, 25, 25, 0.711),
    -7px 7px 8px rgba(26, 25, 25, 0.674); */
  /* border-radius: 30px; */
}
.loginpage {
  text-align: center;

  width: 85%;
  height: 83%;
  border: 0px solid rgba(0, 0, 0, 0.686);
  border-radius: 35px;
  /* opacity: 0.7; */
  background: linear-gradient(145deg, #ffffff, #f0f0f0);
  box-shadow: rgba(0, 0, 0, 0.5) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.7) 0px 30px 60px -30px,
    rgba(66, 63, 63, 0.475) 0px -2px 15px 7px inset;
}
#password {
  width: 50%;
  height: 5vh;
  border: solid #dcdcdc;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 4px 4px 5px rgb(0, 0, 0);
}
#username {
  width: 50%;
  height: 5vh;
  border: solid #dcdcdc;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 4px 4px 5px rgb(0, 0, 0);
}
button {
  padding: 2px;
  margin: 10px;
  background-color: #ffffff;
  border: 2px solid #dcdcdc;
  border-radius: 5px;
  box-shadow: 4px 4px 5px rgb(9, 9, 9);
}
button:hover {
  background-color: rgb(215, 226, 210);
  cursor: pointer;
}
#password:hover {
  background-color: rgb(215, 226, 210);
  cursor: pointer;
}
#username:hover {
  background-color: rgb(215, 226, 210);
  cursor: pointer;
}
label {
  font-family: Georgia, "Times New Roman", Times, serif;

  color: #2c3e50;
  font-size: 20px;
  font-weight: 800;
  border-bottom: 2px solid rgba(0, 0, 0, 0.611);
  border-radius: 95px;
  margin: 1px;
}
